<a href="https://colab.research.google.com/github/karishmasd/Python-for-30-days/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
name="Karishma Syed "
print(name)

Karishma Syed

In [ ]:
name="Karishma Syed "
print("Hello"+ name )

HelloKarishma Syed

In [ ]:
name= "Karishma Syed "
print("Hello "+ name)

Hello Karishma Syed

In [ ]:
name= 'Karishma Syed'
print("Hello "+ name)

Hello Karishma Syed

In [ ]:
names= ["Karishma ", "Gousia ", "Queen "]
for i in names:
 print("Hello "+ i)

Hello Karishma
Hello Gousia
Hello Queen

In [ ]:
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)               #exponent
print(a>b)
print(a<b)
print(a**(1/2))           #squareroot
print(a%b)                #mod function
print(a//b)               #Floor division

13
7
30
3.3333333333333335
1000
True
False
3.1622776601683795
1
3

In [ ]:
# Naming rules
# no spaces
# can be mix of upper and lower case
#cannot start with number (can be used later )
#words are seperated with underscore

In [ ]:
#Datatypes
print(type(1))
print(type("a"))
print(type(3.5))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
#Implicit Conversion
print(7+8.5)# integer and float
# python does implicit conversion where interpreter automatically converts the one datatype to another

15.5

In [ ]:
#Explicit Conversion (manual conversion)
#Area of triangle
base= 10
height = 15
area= 0.5*base*height
#print("The area of traingle: "+ area) this will give us error because the data type of area is float and as we are printing the string so we have to convert the float to string by str()
print("The area of triangle :" +str(area))

The area of triangle :75.0

In [ ]:
#Explicit Conversion
Total_marks = 97+96+92+100
subjects=4
average=Total_marks/subjects
print("The average marks obtained is "+str(average))

The average marks obtained is 96.25