<a href="https://colab.research.google.com/github/karishmasd/Python-for-30-days/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day 1 Progress Report**

- **First Python Code:** Successfully wrote and executed my first Python code!
- **Explored Basic Concepts:**
  - Learned to use `print()` for displaying output.
  - Performed arithmetic operations, understanding the order of execution in Python using PEDMAS (Parentheses, Exponents, Division/Multiplication, Addition/Subtraction).
- **Naming Rules:**
  - Understood the rules for naming variables to ensure clarity and avoid errors.
- **Data Types:**
  - Gained knowledge of fundamental data types in Python.
  - Used `type()` to identify the data type of objects.
- **Type Conversion:**
  - Understood implicit (automatic) and explicit (manual) type conversions using functions like `int()`, `float()`, `str()`.
---
DAY 2!

Write a Python program that prompts the user to enter their year of birth, calculates their current age based on the current year (2024), and displays the result in a clear and formatted message using the print() function. Additionally, ensure that the program explicitly converts the input to an integer and handles cases where the entered birth year is greater than 2024 by displaying an appropriate error message.

In [ ]:
year_of_birth=int(input("Enter your year of birth: "))
if year_of_birth>2024:
  print("Invalid birth year")
else:
  print("Your age is :" + str(2024-year_of_birth))

Enter your year of birth: 1970
Your age is :54

In [ ]:
current_year=int(input("Enter the current year: "))
year_of_birth=int(input("Enter your birth year: "))
if year_of_birth>current_year:
  print("Invalid birth year")
else:
  print("Your age is :" + str(current_year-year_of_birth))

Enter the current year: 1860
Enter your birth year: 1999
Invalid birth year


In this scenario, two friends are eating dinner at a restaurant. The bill comes in the amount of 47.28 dollars. The friends decide to split the bill evenly between them, after adding 15% tip for the service. Calculate the tip, the total amount to pay, and each friend's share, then output a message saying "Each person needs to pay: " followed by the resulting number.

In [ ]:
No_of_friends=int(input("Enter number of friends: "))
Bill=float(input("Bill amount: "))
Tip=int(input("Tip percentage: "))
total_amount_to_pay = Bill+ Tip*Bill/100
share=total_amount_to_pay/No_of_friends
print("Each person  needs to pay: $"+str(share))

Enter number of friends: 2
Bill amount: 47.28
Tip percentage: 15
Each person  needs to pay: $27.186

**Functions**

In [ ]:
def greet(name):
  print("Hello, "+name+"!")
greet("Viewer")
greet("Everyone")

Hello, Viewer!
Hello, Everyone!

In [ ]:
def greet(name):
  print("Hello, "+name+"!")
result=greet("Viewer")
result

Hello, Viewer!

In [ ]:
def greet(name):
  print("Hello, "+name+"!")
result=greet("Viewer")
print(result) #because there is no return values

Hello, Viewer!
None

In [ ]:
#similar thing i can write in another form
list=["Viewer","Everyone"]
for name in list:
  print("Hello "+name+"!")

Hello Viewer!
Hello Everyone!

In [ ]:
list=["b","a","x","y","z"]
def greet(name):
  print("How are you doing "+name+" ?")
for name in list:
  greet(name)

How are you doing b ?
How are you doing a ?
How are you doing x ?
How are you doing y ?
How are you doing z ?

In [ ]:
def info(college,year,grade):
  print("I am Class " + str(year)+ " from " + college+ " college with a grade of "+str(grade) )
info("xyz",1970,8.28)

I am Class 1970 from xyz college with a grade of 8.28

**In built functions like print(), type(), str(), sorted(), max(),min()**

In [ ]:
list=[0,1,19,100,2,6,87,345]
print(type(list))
print(sorted(list))
print("The maximum number in the list is:",str(max(list)))
print("The minmum number in the list is:",str(min(list)))

<class 'list'>
[0, 1, 2, 6, 19, 87, 100, 345]
The maximum number in the list is: 345
The minmum number in the list is: 0

In [ ]:
list=["a","abs","hi","karishma","python","day","two"]
sorted(list)
# cannot use for the mixed datatypes

['a', 'abs', 'day', 'hi', 'karishma', 'python', 'two']

In [ ]:
#Returning values
def area_of_triangle(base,height):
  return 0.5*base*height
area_1= area_of_triangle(10,20)
area_2=area_of_triangle(20,49)
sum=area_1+area_2
print(sum)

590.0

Write a function is_palindrome(s) that checks if a given string s is a palindrome. A palindrome reads the same forwards and backwards (e.g., "radar", "level").

In [ ]:
def is_palindrome(s):
  return s==s[::-1]  #this creates a reverse string for example "hello" would be "olleh"
print(is_palindrome("Karishma",))
print( is_palindrome("radar"))

False
True

In [ ]:
def convert_seconds(seconds):
  hours=seconds//3600
  minutes=seconds%3600//60
  remaining_seconds=seconds%60
  return hours,minutes,remaining_seconds
print(convert_seconds(3711))

(1, 1, 51)

In [ ]:
#Lucky number
name="Kay"
luckynumber= len(name)*9//5
print("Hello "+name+" your lucky number is "+str(luckynumber))
name="Karishma"
luckynumber= len(name)*9//5
print("Hello "+name+" your lucky number is "+str(luckynumber))

Hello Kay your lucky number is 5
Hello Karishma your lucky number is 14

In [ ]:
def Lucky_number(name):
  luckynumber= len(name)*9//5
  print("Hello "+name+" your lucky number is "+str(luckynumber))
Lucky_number("Karishma")
Lucky_number("Kay")
Nameslist=["vxahsvd","jhsdxsgd","vera"]
for name in Nameslist:
  Lucky_number(name)

Hello Karishma your lucky number is 14
Hello Kay your lucky number is 5
Hello vxahsvd your lucky number is 12
Hello jhsdxsgd your lucky number is 14
Hello vera your lucky number is 7

Write a Python program that performs basic arithmetic operations. Your calculator should be able to:

Add two numbers
Subtract two numbers
Multiply two numbers
Divide two numbers (with error handling for division by zero)

In [ ]:
first_number=int(input("Enter first number: "))
second_number=int(input("Enter second number: "))
def add(first_number,second_number):
  return first_number+second_number
def subtract(first_number,second_number):
  return first_number-second_number
def multiply(first_number,second_number):
  return first_number*second_number
def divide(first_number,second_number):
  if second_number!=0:
   return first_number/second_number
  else:
   return  "Error: Division by zero is not allowed!"
function=input("Enter the function you want to perform (add,subtract,multiply,divide): ")
if function=="add":
  print(add(first_number,second_number))
elif function=="subtract":
  print(subtract(first_number,second_number))
elif function=="multiply":
  print(multiply(first_number,second_number))
elif function=="divide":
  print(divide(first_number,second_number))
else:
  print("Invalid input")

Enter first number: 198886
Enter second number: 2
Enter the function you want to perform (add,subtract,multiply,divide): multiply
397772

In [ ]:
def area_of_circle(radius):
  return 3.14*radius**2
area_of_circle(134)

56381.840000000004