<a href="https://colab.research.google.com/github/karishmasd/Python-for-30-days/blob/main/Day_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range (5):
  print(i**2)

0
1
4
9
16

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
def square():
  number=int(input("Enter a number : "))
  sum=0
  for i in range(number+1):
    sum=sum+i**2
  print("The sum of the square of first ",(number),"numbers is  ",sum)
square()

Enter a number : 6
The sum of the square of first  6 numbers is   91

In [ ]:
product=1
for i in range(1,10):#i dont want to start with zero i want to start with 1 so range(1,10)
  product=product*i
print(product)

362880

In [ ]:
def to_celsicus(x):
  return (x-32)*5/9
for i in range(10):
  print(i,to_celsicus(i))

0 -17.77777777777778
1 -17.22222222222222
2 -16.666666666666668
3 -16.11111111111111
4 -15.555555555555555
5 -15.0
6 -14.444444444444445
7 -13.88888888888889
8 -13.333333333333334
9 -12.777777777777779

In [ ]:
def to_celsicus(x):
  return (x-32)*5/9
for i in range(1,100,10):#start , end , period
  print(i,to_celsicus(i))

1 -17.22222222222222
11 -11.666666666666666
21 -6.111111111111111
31 -0.5555555555555556
41 5.0
51 10.555555555555555
61 16.11111111111111
71 21.666666666666668
81 27.22222222222222
91 32.77777777777778

In [ ]:
for i in range(2,2**10,154):
  print(i)

2
156
310
464
618
772
926

# **Nested for loop**

In [ ]:
for left in range(7):
  for right in range(left,7):
    print("[",str(left),"|",str(right),"]",end=" ")
  print()

[ 0 | 0 ] [ 0 | 1 ] [ 0 | 2 ] [ 0 | 3 ] [ 0 | 4 ] [ 0 | 5 ] [ 0 | 6 ]
[ 1 | 1 ] [ 1 | 2 ] [ 1 | 3 ] [ 1 | 4 ] [ 1 | 5 ] [ 1 | 6 ]
[ 2 | 2 ] [ 2 | 3 ] [ 2 | 4 ] [ 2 | 5 ] [ 2 | 6 ]
[ 3 | 3 ] [ 3 | 4 ] [ 3 | 5 ] [ 3 | 6 ]
[ 4 | 4 ] [ 4 | 5 ] [ 4 | 6 ]
[ 5 | 5 ] [ 5 | 6 ]
[ 6 | 6 ]

In [ ]:
teams = ["A","B","C","D"]
for home_team in teams:
  for away_team in teams:
    if home_team!=away_team:
      print(home_team,"vs",away_team)

A vs B
A vs C
A vs D
B vs A
B vs C
B vs D
C vs A
C vs B
C vs D
D vs A
D vs B
D vs C

In [3]:
string ="Today is the 8th day of challenge i.e 15-12-2024 "
for index,i in  enumerate(string):
  print(index,i)

0 T
1 o
2 d
3 a
4 y
5
6 i
7 s
8
9 t
10 h
11 e
12
13 8
14 t
15 h
16
17 d
18 a
19 y
20
21 o
22 f
23
24 c
25 h
26 a
27 l
28 l
29 e
30 n
31 g
32 e
33
34 i
35 .
36 e
37
38 1
39 5
40 -
41 1
42 2
43 -
44 2
45 0
46 2
47 4
48

In [5]:
string ="Today is the 8th day of challenge i.e 15-12-2024 "
for i in  string:
  print(i,end=" ")

T o d a y   i s   t h e   8 t h   d a y   o f   c h a l l e n g e   i . e   1 5 - 1 2 - 2 0 2 4

In [6]:
string = "hi"
for i in range(len(string)):
  print(i)

0
1

In [7]:
string ="hello"
for i in range (len(string)):
  print(string[i])

h
e
l
l
o

In [6]:
string="Basketball"
index=0
while index<len(string):
  print(string[index])
  index+=1

B
a
s
k
e
t
b
a
l
l

In [7]:
number =[1,2,3,4,5,6,7]
square = [i**2 for i in number]
print(square)

[1, 4, 9, 16, 25, 36, 49]